body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #F3E008;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100px; /* Adjust the width as needed */
    height: 50px;
    margin-right: 10px; /* Space between image and text */
}

.logo-text {
    font-size: 24px; 
    font-weight: bold;
    color: black;
}

.right-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
}

.right-text{
    color: black;
    font-weight: bold;
    letter-spacing: 2;
}

.language-selector {
    margin-left: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8; 
    padding: 15px 100px;
}

.breadcrumb {
    font-size: 16px; 
    font-weight: bold;
    color: #333;
}

.search-bar {
    width: 500px;  /* Adjusted width */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.search-bar:hover {
    box-shadow: 1px 5px 15px rgba(0,0,0,0.1);
}



 .breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8; 
    padding: 15px 100px;
}

.breadcrumb {
    font-size: 16px; 
    font-weight: 700;
    color: black;
}

.search-bar {
    width: 500px;  /* Adjusted width */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.search-bar:hover {
    box-shadow: 1px 5px 15px rgba(0,0,0,0.1);
}

 .page-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
}

.main-content {
    flex: 3;
    padding-right: 40px;    
}

.sidebar {
    flex: 1;
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
}

h1 {
    font-size: 36px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
}

.on-this-page {
    margin-bottom: 20px;
}

.on-this-page h2 {
    font-size: 30px;
    color: black;
    font-weight: normal;
    margin-bottom: 10px;
}

.on-this-page ol {
    list-style-type: 1;
    padding-left: 50px;
    font-size: 20px;
}

.on-this-page hr {
    border: 0;
    border-top: 1px solid #ccc; /* Adjust the color and style as needed */
    margin: 10px 0; /* Adjust the spacing as needed */
}

.on-this-page li {
    margin-bottom: 10px;
}

.on-this-page a {
    color: #ff6600;
    text-decoration: none;
}

.articles-header {
    background-color: #F3E008;
    padding: 0px;
    /* margin: -20px -20px 20px -20px; */
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #ff6600;
    text-decoration: none;
}

.related-articles {
    margin-top: 20px;
}

.related-articles h3 {
    font-size: 1rem;
    color: #333;
    background-color: #fffae6;
    padding: 10px;
}
